<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ game.name }} - Mista game store</title>
</head>
<body>
    <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{ game.id }}/header.jpg">
    <h1>{{ game.name }}</h1>
    <p>{{ game.release_data }}</p>
    <p>{{ game.developer }}</p>
    <p>{{ game.publisher }}</p>
    <p>{{ game.genre }}</p>
    <p>{{ game.minimum_requirement }}</p>
    <p>{{ game.recommended_requirements }}</p>
    <p>{{ game.price }}</p>
</body>
</html>
